<a href="https://colab.research.google.com/github/Suhas598/python_smp/blob/master/Week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
class Car:
  wheels = 4

  def __init__(self, model, name, year, color, hp):
      print("Car created")
      self.model = model
      self.name =  name
      self.year = year
      self.color = color
      self.hp = hp
  def attributes(self):
      print("This car is a",self.model,self.name,self.color,"made in", self.year, "with",self.hp,"hp")
  def namechange(self, name):
      self.name = name
  def colorchange(self, color):
      self.color = color

In [21]:
c1 = Car("XY", "Qwerty", 2021, "Blue", 250)
c1.attributes()
c1.namechange("Asdfgh")
c1.attributes()
c1.colorchange("Grey")
c1.attributes()

Car created
This car is a XY Qwerty Blue made in 2021 with 250 hp
This car is a XY Asdfgh Blue made in 2021 with 250 hp
This car is a XY Asdfgh Grey made in 2021 with 250 hp

Q2

In [63]:
str1= "Coding is fun"
str2 = [str1[i:i+3] for i in range(0,len(str1),3)]
print(str2)
print(" ".join(set(str2)))

['Cod', 'ing', ' is', ' fu', 'n']
Cod  fu n  is ing

Q3

In [27]:
class Student:
  def __init__(self, Roll, Phone, Grade, Name):
    print("Student info")
    self.Roll = Roll
    self.Phone = Phone
    self.Grade = Grade
    self.Name = Name
  def info(self):
    print("Name:", self.Name, "\nGrade:",self.Grade,"\nRoll:",self.Roll,"\nPhone:",self.Phone)

In [28]:
s1 = Student(261,9876543210,"9th grade","Suhas")
s1.info()

Student info
Name: Suhas
Grade: 9th grade
Roll: 261
Phone: 9876543210

In [54]:
class Sports(Student):
  def __init__(self, Roll, Phone, Grade, Name, Sport):
    self.Sport = Sport
    self.Roll = Roll
    self.Phone = Phone
    self.Grade = Grade
    self.Name = Name
  def sportPlayed(self):
    print(self.Name, "plays", self.Sport)
  def changePhone(self, Phone):
    self.Phone = Phone
    print("Phone number changed\n")
  def changeSport(self, Sport):
    self.Sport = Sport
  def __del__(self):
    print(self.Name + " doesnt play sports any more")

In [55]:
ss1 = Sports(261,9876543210,"9th grade","Suhas", "Basketball")
ss1.sportPlayed()
ss1.changePhone(1234567890)
ss1.info()
ss1.changeSport("Cricket\n")
ss1.sportPlayed()

del ss1

Suhas plays Basketball
Phone number changed

Name: Suhas
Grade: 9th grade
Roll: 261
Phone: 1234567890
Suhas plays Cricket

Suhas doesnt play sports any more