<a href="https://colab.research.google.com/github/Suhas598/python_smp/blob/master/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1

In [ ]:
list1 = [1,2,3,3,1,2,10]
for i in range(len(list1)):
  for j in range(len(list1)):
    if(i!=j):
      if list1[i] == list1[j]:
        flag = 1
if(flag==1):
  print("List has duplicate elements")
else:
  print("List doesnt contain duplicates")

List has duplicate elements

Q2

In [ ]:
if (len(list1)==len(set (list1))):
  print("List is unique")
else:
  print("List is not unique")

List is not unique

Q3

In [ ]:
#Removing duplicate elements
list2 = [1,2,1,2,1,2,1,2,1]
print(set (list1))
print(set (list2))

{10, 1, 2, 3}
{1, 2}

Q4

In [ ]:
#checking if subset of other
A = {1,2,3}
B = {1,2,3,4,5}
if(A&B==A or A&B==B):
  print(True)
else:
  print(False)

True

Q5

In [ ]:
#element wise sum
a = (9,8,7,6); b=(1,1)
A = list (a); B = list (b)
if (len(A)>=len(B)):
  for x in range(len(B)):
    A[x] += B[x]
  print(tuple (A))
else:
  for x in range(len(A)):
    B[x]+= A[x]
  print(tuple (B))

(10, 9, 7, 6)

In [ ]:
#elementwise sum of tuples with equal number of elements
a = (1,2,3); b = (4,5,6)
c = tuple (map(sum,zip(a,b))) #zip() pairs the tuple elements, sum is the function, map applies the fn to each ele
print(c)

(5, 7, 9)

Q6

In [ ]:
#tuple to integer
a = (25,2,10)
b = int("".join(map(str,a)))
print(b)

25210